<div class="row fields">
	<div class="clearfix span4">
	<%= f.label :alternative %>
		<div class="input">
			<%= f.file_field :alternative %>
		</div>
	</div>
	<div class="span2">
		<%= link_to_remove_fields "remove", f %>
	</div>
</div>